click==6.7
cssselect==1.0.1
Flask==0.12
itsdangerous==0.24
Jinja2==2.9.4
lxml==3.7.2
MarkupSafe==0.23
multidict==2.1.4
parsel==1.1.0
requests==2.12.4
six==1.10.0
w3lib==1.16.0
Werkzeug==0.11.15
yarl==0.8.1
